<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>green1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{1,48},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1,91},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{1,132},{37,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,28}</string>
                <key>spriteSourceSize</key>
                <string>{39,34}</string>
                <key>textureRect</key>
                <string>{{1,174},{33,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>green.png</string>
            <key>size</key>
            <string>{41,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007cc8ba65ae6e8ddff6bbf5ff5b6c0c:07b98934f6a4e89c30a327ec1eb516a4:fe7b68023e9ad66bc8aef9f54e75db3f$</string>
            <key>textureFileName</key>
            <string>green.png</string>
        </dict>
    </dict>
</plist>
